@model BKBProductManagement.Areas.Product.ViewModel.ProductViewModel 
@{
    ViewBag.Title = "Visualizar Produtos";
}

@section scripts {
    @Scripts.Render("~/Scripts/tablecrud.js")
}

<div class="fullHeight areaContainer" id="productViewMasterContainer">
    <div class="breadcrumb"><a href="@Url.Action("Index", "AdminHome", new { area = "Admin" })">Início</a> > Produtos > @ViewBag.Title</div>
    <div class="page-header">
        <div class="col-md-6 col-sm-12 col-area">
            <div class="header-image">
                <img src="~/Content/images/visualize_icon.svg" alt="Ícone edição" />
            </div>
            <span>VISUALIZAR PRODUTOS</span>
        </div>
        <div class="col-md-6 col-sm-12 col-area">
            <div class="page-filters">
                <div>
                    <span>Filtros</span>
                </div>
                <div style="display: inherit;">
                    <input class="form-control" type="text" name="name" placeholder="Nome" />
                </div>
            </div>
        </div>
    </div>
    <div class="centerOnScreen">

        <table class="table" id="systemLogsIndexTable">
            <thead>
                <tr>
                    <th style="width: 2%"></th>
                    <th style="width: 10%;">Nome</th>
                    <th style="width: 10%;">Descrição</th>
                    <th style="width: 10%;">Código</th>
                    <th style="width: 10%;">Peso</th>
                    <th style="width: 5%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr id="9">
                        <td></td>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@product.Code</td>
                        <td>@product.Weight</td>
                        <td>
                            <a class="tableAction editActionButton" href="@Url.Action("Edit", "Product", new { productId = product.Id })"><img src="~/Content/images/edit_action_icon.svg" alt="Editar" /></a>
                            <a class="tableAction deleteActionButton" href="@Url.Action("Delete", "Product", new { productId = product.Id })"><img src="~/Content/images/delete_icon.svg" alt="Excluir" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
